<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href=""/>
		<link rel="stylesheet" type="text/css" href=""/>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<title>Banana Information</title>
		<!-- iconj.com favicon code -->
		<link rel="shortcut icon" href="http://www.iconj.com/icon.php?pid=2d7ztq1c3x" type="image/x-icon" />
		<!-- end of iconj.com favicon code -->
	</head>
	<body>
		<header>
			Here is some info on Bananas
		</header>
		<div class="group-container">
			<div class="group-header">Images</div>
			<div class="individual-container">
				<div class="individual-header">Google Search</div>
				<div class="info-container">
					<div class="information">
						<img src=""/>
					</div>
				</div>
			</div>
			<div class="individual-container">
				<div class="individual-header">More Google Search</div>
				<div class="info-container">
					<div class="information">
						<img src=""/>
					</div>
				</div>
			</div>
		</div>
		<div class="group-container">
			<div class="group-header">Description</div>
			<div class="individual-container">
				<div class="individual-header">Wikipedia</div>
				<div class="info-container">
					<div class="information">
						<a href="https://en.wikipedia.org/wiki/Banana">Wikipedia</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
